@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items : center;
}
.holder{
    padding: 30px;
    text-align: center;
}
body{
    background-image: url('./images/2199583.jpg');
}
input , textarea{
    display:block;
    height: 60px;
    width: 320px;
    background:#000;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
button{
    width: 400px;
    height: 100px;
    background: #555;
    color: #000;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor:pointer;
}